<nav class="nav responsive">
  <div class="nav__nav-row">
    <span class="nav__nav-row--name">Events</span>
    {% include 'components/nav/nav_link.html' with label='Today' num_events=num_todays_events url_name='event-list-today' request_path='/events_today/' %}
    {% include 'components/nav/nav_link.html' with label='This Week' num_events=num_weeks_events url_name='event-list-week' request_path='/events_week/' %}
    {% include 'components/nav/nav_link.html' with label='Upcoming' num_events=num_upcoming_events url_name='event-list-upcoming' request_path='/events_upcoming/' %}
  </div>
  <div class="nav__nav-row">
    <span class="nav__nav-row--name">My Events</span>
    {% include 'components/nav/nav_link.html' with label='My Listings' num_events=num_user_events url_name='event-list-user' request_path='/my_events/' %}
    {% include 'components/nav/nav_link.html' with label='Add Listing' url_name='event-add' request_path='/event_add/' %}
    
    {% if user.is_authenticated %}
      {% include 'components/nav/nav_link.html' with label='Logout' url_name='logout' request_path='users/logout_user' %}
      {% else %}
      {% include 'components/nav/nav_link.html' with label='Login' url_name='login' request_path='/users/login_user' %}
      {% include 'components/nav/nav_link.html' with label='Register' url_name='register' request_path='/users/register_user' %}
    {% endif %}
  </div>
</nav>