* {
  -webkit-user-select: none;
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--page-background);
}
.wrapper {
  font-family: var(--main-body-text);
  color: var(--diffused);
}
.page-background {
  background: fixed no-repeat url('../images/manhole.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -2;
}
.page-background.js-mobile {
  background-size: 100%;
}
.page-wrapper {
  max-width: var(--page-max-width);
  min-height: 90vh;
  margin: 0 auto;
  padding-top: calc(var(--xxlarge) + var(--xlarge));
  padding-bottom: var(--xlarge);
}
.page-wrapper.js-mobile {
  max-width: var(--mobile-page-max-width);
}
li {
  list-style: none;
}
.external-link:any-link {
  color: var(--yellow);
  text-decoration: none;
}
.external-link:hover {
  color: var(--orange);
  text-decoration: underline;
}
.external-link.disabled {
  color: var(--disabled);
  pointer-events: none;
}
.fine-print {
  font-size: var(--fine-print);
}