.anchor {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.anchor--circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid var(--diffused);
  font-size: var(--heading-medium);
}