{% extends 'base_layout.html' %}
{% block content %}
  <div class="form-wrapper responsive">
    {% include 'components/forms/form_info.html' with heading='Register' form_requirements=form_requirements%}
    <form action="{% url 'register' %}" method=POST class="form-register">
      {% csrf_token %}
      {{form}}
      {% include 'components/buttons/button.html' with label='Register' button_variation='secondary' %}
      <p class="form-login__option">or log in to your account</p>
      {% include 'components/buttons/anchor.html' with label='Login' path_name='login' button_variation='primary' %}
    </form>
  </div>
{% endblock content %}

