.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--page-background);
  padding: var(--small) 0 var(--small) 0;
  text-align: center;
  font-size: var(--body-text-xsmall);
  color: var(--low-key);
}