  <header class="header">
    <div class="header__top responsive">
      {% if user.is_authenticated %}
        <span class="header__user-info">
          <img class="search-icon" src="/static/images/user.png" alt="user icon">{{user}}
        </span>
      {% endif %}
      {% include 'components/forms/search_form.html' with event_list='search_results' %}
    </div>
    {% include 'components/nav/nav.html' %}
    {% if q %}
      {% include 'components/messages/message.html' with message_type='search' search_results=search_results num_search_results=num_search_results q=q %}
    {% endif %} 
    {% if messages %}
      {% for message in messages %}
        {% include 'components/messages/message.html' with  message_type=message.tags content=message %}
      {% endfor %}
    {% endif %}
    {% if has_old_user_events %}
      {% include 'components/messages/message.html' with message_type='info' content=old_user_events_count %}
  {% endif %}
  {% if form.errors %}
    {% include 'components/messages/message.html' with message_type='error' content='There was an problem with the form. Please check the error below.' %}
  {% endif %}
  </header>
