{% extends 'base_layout.html' %}
{% block content %}
  {% if vanguard %}
    {% include 'components/buttons/anchor_button.html' with label='populate vanguard' path_name='populate-vanguard' button_variation='primary' %}
  {% endif %}
  {% if smalls %}
    {% include 'components/buttons/anchor_button.html' with label='populate smalls' path_name='populate-smalls' button_variation='secondary' %}
  {% endif %}
  <div class="form-wrapper responsive">
    {% if user.is_authenticated %}
      {% include 'components/forms/form_info.html' with heading='Add event listing' required_fields='true' %}
      <br><br>
      {% include 'components/forms/form_event_add_update.html' %}
    {% else %}
      <p class="form-login__option">Please login to add a listing.</p>
      {% include 'components/buttons/anchor_button.html' with label='Login' path_name='login' next=request.path button_variation='primary' %}
    {% endif %}
  </div>
{% endblock content %}

