{% extends 'base_layout.html' %}
{% block content %}
  <div class="form-wrapper responsive">
    {% if user.is_authenticated %}
      {% include 'components/forms/form_info.html' with heading='Add event listing' required_fields='true' %}
      <br><br>
      {% include 'components/forms/form_event_add.html' %}
    {% else %}
      <p class="form-login__option">Please login to add a listing.</p>
      {% include 'components/buttons/anchor.html' with label='Login' path_name='login' next=request.path button_variation='primary' %}
    {% endif %}
  </div>
{% endblock content %}

