.message {
  display: flex;
  justify-content:space-around;
  margin: 0 auto;
  margin-top: -300px;
  overflow: hidden;
  padding: var(--medium);
  width: calc(var(--page-max-width) - var(--xlarge));
  background-color: var(--low-key);
  border-radius: 0 0 var(--medium) var(--medium);
  box-shadow: var(--edge);
  color: var(--dark);
  font-size: var(--body-text-small);
  transition: margin-top .6s;
  z-index: 2;
}
.message.js-mobile {
  width: var(--mobile-page-max-width);
  width: calc(var(--mobile-page-max-width) - var(--xlarge));
}
.message.js-show {
  margin-top: 0;
}
.message.js-merge {
  border-radius: 0;
}
.message > * {
  display: block;
}
.message .icon {
  flex: 0 1 10%;
  font-size: var(--heading-small);
}
.message__content {
  flex: 0 1 80%;
  display: flex;
  align-items: center;
  font-style: italic;
  font-size: var(--body-text-small);
}
.icon--success {
  color: var(--green);
}
.icon--warning {
  color: var(--yellow);
}
.icon--error {
  color: var(--red);
}
.icon--info {
  color: var(--dark);
}
.messages__search-icon {
  width: var(--large);
  margin-right: var(--small);
}